<div>
  There are <span><%=@contacts.length%></span> contacts.
</div>


<ul>
  <%@contacts.each do |contact| %>
    <div>
      <span>
          <h3><%=contact.full_name%> <span>(<%=contact.email%>)<span></h3>
      </span>
    <ul>
      <a href='/contacts/<%=contact.id%>'>Details</a>
      |
      <a href='/contacts/<%=contact.id%>/edit'>Edit</a>
      |
      <a href='/contacts/<%=contact.id%>/delete'>Delete</a>
    </ul>
  </div>
  <%end%>
</ul>
